<header class="header">
  <div>
    <img class="logo_f" src="assets/images/fencing.png"><p class="logo">Minsk Fencing Center</p>
  </div>
  <div class="header">
    <nav>
      <ul class="topmenu">
        <li>
          <a class="down" href="#about">О нас</a>
        <li>
        <li>
          <a class="down" href="#Coach">Наши тренеры</a>
        <li>
        <li>
          <a class="down" href="#Timetable">Расписание</a>
        <li>
        <li>
          <a class="down" href="Equipment.html">Экипировка</a>
        <li>
        <li>
          <a class="down" href="Competition.html">Соревнования</a>
        <li>
          <a class="down" href="Rating.html">Рейтинг</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
